已经预先将1515模型的reaction信息进行过整理
存储在excel的第三个sheet中
sheet中包含了现有的5914个反应的信息
通过gene_GO文件对缺失kcat的反应进行填补

In [2]:
import pandas as pd
import numpy as np
import re
import math

In [3]:
folder = "C:/User Files/media/文件/"
excel = pd.ExcelFile(folder + "gene_GO.xlsx")    # 将excel文件转换为excel对象
dict_df = pd.read_excel(excel, sheet_name=excel.sheet_names, index_col=0)

In [4]:
df_1 = dict_df[excel.sheet_names[0]]
df_2 = dict_df[excel.sheet_names[1]]
df_3 = dict_df[excel.sheet_names[2]]

In [5]:
%%time
# 利用GO来填补kcat
df = df_3.copy()
for m, row in df_3.iterrows():
    if not math.isnan(row[2]):
        df.at[m, "kcat_final"] = row[2]
    elif math.isnan(row[2]) and not math.isnan(row[1]):
        if not re.search("and", row[0]):
            
            # 对于grp为单个基因的进行填补
            if row[0] in df_1.index:
                GO = df_1.at[row[0], "GO"]    # 获取基因的GO值，类型为array
                
        else:
            
            # 对grp关系为and的进行填补
            gpr = row[0].split(" and ")
            GO = []
            for i in gpr:
                if i in df_1.index:
                    go = df_1.at[i, "GO"]
                try:
                    GO.extend(go)
                except:
                    GO.append(go)
            
        
        level = {}    # 用于存储一个基因所有{GO: level}的字典(只储存有kcat的)
        for i in GO:
            if i in df_2.index:
                level_gene = df_2.at[i, "level"]    # level_gene可能为数字，也可能为array
                try:
                    level[i] = level_gene[0]
                except:
                    level[i] = level_gene
            pass
        
        if level:    # 可能有的基因只有GO值但没有level
            
            level_max = max(level.values())    # 获取前面字典里面最大的value（最大的level），可能有多个key具有相同的level

            level_new = {}    # 储存最大的level的组合
            for k, v in level.items():
                if v == level_max:
                    level_new[k] = v
                pass

            kcat = []    # 用于储存所有的kcat值
            for k, v in level_new.items():
                try:
                    kcat.extend(df_2.at[k, "kcat"])
                except:
                    kcat.append(df_2.at[k, "kcat"])

                pass
            df.at[m, "kcat_final"] = np.median(kcat)*3600
            df.at[m, "correct"] = "GO"
            pass
        
    pass

Wall time: 9.78 s

In [6]:
df.head()

,gpr,mw,kcat,kcat_final,correct
AADDGT,b4481,40.6396,49389.28890,49389.28890,NaN
GALCTND,b4478,42.5229,75632.85924,75632.85924,NaN
DDPGALA,b4477,21.3906,144563.54000,144563.54000,NaN
FRULYSE,b4474,249.3506,80324.38012,80324.38012,NaN
GLYCTO2,b4468 and b2979 and b4467,137.2828,42109.98399,42109.98399,NaN

In [10]:
# 对于没有GO的进行中位数映射
kcat = [i for i in df["kcat_final"] if not math.isnan(i)]
kcat = np.median(kcat)    # 似乎可以直接用df["kcat_final"].median()来替换
for m, row in df.iterrows():
    if math.isnan(row[3]) and not math.isnan(row[1]):
        df.at[m, "kcat_final"] = kcat
        df.at[m, "correct"] = "median"
        
    pass

In [8]:
# df.to_csv(folder + "kcat_fix.csv", sep=",", header=True, index=True)    # 写为csv，字段之间用’, ’分隔

In [18]:
# 对GO填补的反应进行统计
cc = ccc = cccc = 0
for m, row in df.iterrows():
    if row[-1] == "GO":
        cc+=1    # 共填补个数
        
        if re.search("and", row[0]):
            ccc+=1    # grp有and
        else:
            cccc+=1    # gpr无and
    pass

print(cc, ccc, cccc)

778 130 648

In [18]:
df.head()

,gpr,mw,kcat,kcat_final,correct
AADDGT,b4481,40.6396,49389.28890,49389.28890,NaN
GALCTND,b4478,42.5229,75632.85924,75632.85924,NaN
DDPGALA,b4477,21.3906,144563.54000,144563.54000,NaN
FRULYSE,b4474,249.3506,80324.38012,80324.38012,NaN
GLYCTO2,b4468 and b2979 and b4467,137.2828,42109.98399,42109.98399,NaN

In [14]:
# 删除没有没有蛋白的行，并补充kcat/mw

print(len(df.index))
df = df.drop(df[np.isnan(df["kcat_final"])].index)
print(len(df.index))

try:
    df.insert(4, "kcat/mw", df["kcat_final"] / df["mw"],allow_duplicates=0)    # 插入series,修改原数据，长的series会自动对齐
except:
    pass

# 写为新文件作为过程文件
# df.to_csv(folder + "xxx.csv", sep=",", header=True, index=True)    

df

5345
5345

,gpr,mw,kcat,kcat_final,kcat/mw,correct
AADDGT,b4481,40.6396,4.938929e+04,4.938929e+04,1215.299582,NaN
GALCTND,b4478,42.5229,7.563286e+04,7.563286e+04,1778.638316,NaN
DDPGALA,b4477,21.3906,1.445635e+05,1.445635e+05,6758.274195,NaN
FRULYSE,b4474,249.3506,8.032438e+04,8.032438e+04,322.134297,NaN
GLYCTO2,b4468 and b2979 and b4467,137.2828,4.210998e+04,4.210998e+04,306.738965,NaN
GLYCTO3,b4468 and b2979 and b4467,137.2828,3.566077e+04,3.566077e+04,259.761397,NaN
GLYCTO4,b4468 and b2979 and b4467,137.2828,3.992216e+04,3.992216e+04,290.802324,NaN
GUAtpp_no1,b4464,46.7580,NaN,8.640000e+04,1847.812139,GO
GUAtpp_no2,b4064,45.7120,NaN,5.248533e+04,1148.173963,median
NTP12,b4394,36.4253,1.134173e+05,1.134173e+05,3113.696807,NaN
NTP11,b4394,36.4253,6.411931e+04,6.411931e+04,1760.295912,NaN
NMNAT_no1,b4390,189.3833,7.497094e+04,7.497094e+04,395.868810,NaN
NMNAT_no2,b0639,24.5280,7.497094e+04,7.497094e+04,3056.545239,NaN
PSP_L,b4388,35.0427,2.574000e+04,2.574000e+04,734.532442,NaN
OCTNLL,b4386,37.9259,3.729322e+04,3.729322e+04,983.317915,NaN
LIPATPT,b4386,37.9259,5.195684e+04,5.195684e+04,1369.956552,NaN
LIPAMPL,b4386,37.9259,4.575707e+04,4.575707e+04,1206.486105,NaN
PUNP6_no1,b4384,155.6995,7.236000e+03,7.236000e+03,46.474138,NaN
PUNP6_no2,b2407,179.0077,7.236000e+03,7.236000e+03,40.422842,NaN
PUNP1,b4384,155.6995,1.188000e+04,1.188000e+04,76.300823,NaN
PUNP2,b4384,155.6995,7.236000e+03,7.236000e+03,46.474138,NaN
PPM,b4383,44.3700,5.470095e+04,5.470095e+04,1232.836439,NaN
PPM2,b4383,44.3700,5.745168e+04,5.745168e+04,1294.831756,NaN
DURIPP_no1,b4382,94.4142,7.236000e+03,7.236000e+03,76.641014,NaN
DURIPP_no2,b4384,155.6995,7.236000e+03,7.236000e+03,46.474138,NaN
TMDPP,b4382,94.4142,6.372000e+06,6.372000e+06,67489.847925,NaN
DRPA,b4381,27.7338,1.875600e+06,1.875600e+06,67628.669710,NaN
NTD2_no1,b4374,25.3006,2.196000e+05,2.196000e+05,8679.636056,NaN
NTD2_no2,b2744,26.9004,2.196000e+05,2.196000e+05,8163.447384,NaN
NTD2_no3,b0675,27.1630,2.196000e+05,2.196000e+05,8084.526746,NaN
...,...,...,...,...,...,...
ACOAD5f_reverse,b0221,89.2244,6.499541e+04,6.499541e+04,728.448812,NaN
ACOAD3f_reverse,b0221,89.2244,9.149758e+04,9.149758e+04,1025.477096,NaN
ACOAD2f_reverse,b0221,89.2244,7.042473e+04,7.042473e+04,789.299054,NaN
ACOAD4f_reverse,b0221,89.2244,5.983107e+04,5.983107e+04,670.568470,NaN
ACOAD6f_reverse,b0221,89.2244,5.518413e+04,5.518413e+04,618.486966,NaN
G1SAT_reverse,b0154,90.7322,4.119629e+04,4.119629e+04,454.042693,NaN
HCO3E_reverse_no1,b0126,100.3871,8.482637e+04,8.482637e+04,844.992724,NaN
HCO3E_reverse_no2,b0339,47.5285,8.482637e+04,8.482637e+04,1784.747449,NaN
ACONTb_reverse_no1,b0118,186.9962,9.158560e+04,9.158560e+04,489.772514,NaN
ACONTb_reverse_no2,b1276,195.3544,9.158560e+04,9.158560e+04,468.817693,NaN
ACONTa_reverse_no1,b0118,186.9962,8.655140e+04,8.655140e+04,462.851141,NaN
ACONTa_reverse_no2,b1276,195.3544,8.655140e+04,8.655140e+04,443.048145,NaN
MICITDr_reverse,b0118,186.9962,1.080000e+04,1.080000e+04,57.755184,NaN
HISt2rpp_reverse,b0112,49.6901,NaN,5.248533e+04,1056.253221,median
IPPMIb_reverse,b0071 and b0072,72.3693,6.175017e+04,6.175017e+04,853.264767,NaN
IPPMIa_reverse,b0071 and b0072,72.3693,8.130431e+04,8.130431e+04,1123.464127,NaN
ARAI_reverse,b0062,336.4439,8.774908e+04,8.774908e+04,260.813394,NaN
CRNBTCT_reverse,b0038,90.2535,9.370344e+04,9.370344e+04,1038.224975,NaN
CRNCBCT_reverse,b0038,90.2535,7.908555e+04,7.908555e+04,876.260172,NaN
CRNCDH_reverse,b0036,28.1902,8.037285e+04,8.037285e+04,2851.091807,NaN
CRNCAR_reverse,b0036,28.1902,2.128640e+05,2.128640e+05,7550.992494,NaN
ACt2rpp_reverse,b0010,20.0710,NaN,5.248533e+04,2614.983219,median
TALA_reverse_no1,b0008,70.4385,1.129461e+05,1.129461e+05,1603.471384,NaN
TALA_reverse_no2,b2464,35.6588,1.129461e+05,1.129461e+05,3167.412226,NaN
ATPS4rpp_reverse_no1,b3734 and b3733 and b3731 and b3735 and b3732 ...,543.6444,1.260000e+03,1.260000e+03,2.317691,NaN
ATPS4rpp_reverse_no2,b3732 and b3735 and b3731 and b3733 and b3734 ...,530.0127,1.260000e+03,1.260000e+03,2.377302,NaN
TGBPA_reverse_no1,b3132 and b3137,172.3671,3.838878e+04,3.838878e+04,222.715268,NaN
TGBPA_reverse_no2,b2095 and b2096,77.9206,3.838878e+04,3.838878e+04,492.665416,NaN
POR5_reverse_no1,b1378 and b0684,148.5614,4.587013e+04,4.587013e+04,308.762093,NaN
POR5_reverse_no2,b1378 and b2895,148.5246,4.587013e+04,4.587013e+04,308.838595,NaN